@page
@using Quoter.Shared.Enums;
@using Quoter.Web.ViewModels.Shared;
@model Quoter.Web.Pages.AppVersions.CreateModel

@{
	ViewData["Title"] = Localizer["Create app version"];

	BreadCrumbsViewModel breadCrumbs = new(
		Localizer["Create app version"],
			new RouteViewModel(Localizer["Dashboard"], "/AdminDashboard/Index"),
			new RouteViewModel(Localizer["Application versions"], "/AppVersions/Index")
	);
}
<div class="container">
	@await Html.PartialAsync("_BreadCrumbsPartial", breadCrumbs)
	<div class="container m-1">
		<h2>@Localizer["Create app version"]</h2>
	</div>
	<div class="container mt-2">
		<form method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Name" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Version" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Version" class="form-control" />
					<span asp-validation-for="Version" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="VersionType" class="control-label"></label>
				</div>
				<div class="col-3">
					<select asp-for="VersionType" class="form-control" asp-items="Html.GetEnumSelectList<EnumVersionType>()"></select>
					<span asp-validation-for="VersionType" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Description" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Os" class="control-label"></label>
				</div>
				<div class="col-3">
					<select asp-for="Os" class="form-control" asp-items="Html.GetEnumSelectList<EnumOperatingSystem>()"></select>
					<span asp-validation-for="Os" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="FileUpload" class="control-label"></label>
				</div>
				<div class="col-6">
					<input type="file" asp-for="FileUpload" class="form-control"/>
					<span asp-validation-for="FileUpload" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-2">
					<button type="submit" value="Create" class="btn btn-primary">
						<i class="bi bi-file-plus"></i> Create
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
