@page
@using Quoter.Web.ViewModels.Shared;
@using Quoter.Shared.Enums;
@model Quoter.Web.Pages.AppVersions.EditModel

@{
	ViewData["Title"] = Localizer["Edit app version"];

	BreadCrumbsViewModel breadCrumbs = new(
		Localizer["Edit app version"],
			new RouteViewModel(Localizer["Dashboard"], "/AdminDashboard/Index"),
			new RouteViewModel(Localizer["Application versions"], "/AppVersions/Index")
	);
}

<div class="container">

	@await Html.PartialAsync("_BreadCrumbsPartial", breadCrumbs)

	<div class="container m-1">
		<h2>@Localizer["Edit app version"]</h2>
	</div>
	<div class="container mt-2">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Name" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Version" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Version" class="form-control" />
					<span asp-validation-for="Version" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Description" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Os" class="control-label"></label>
				</div>
				<div class="col-3">
					<select asp-for="Os" class="form-control" asp-items="Html.GetEnumSelectList<EnumOperatingSystem>()"></select>
					<span asp-validation-for="Os" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">
					<label asp-for="Path" class="control-label"></label>
				</div>
				<div class="col-3">
					<input asp-for="Path" class="form-control" readonly />
					<span asp-validation-for="Path" class="text-danger"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-2">
					<div class="form-check form-switch">
						<input asp-for="IsReleased" class="form-check-input" type="checkbox" role="switch" />
						<label asp-for="IsReleased" class="form-check-label"></label>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="col-2">
					<button type="submit" value="Save" class="btn btn-success">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
