@page
@model Quoter.Web.Pages.AppRegistrations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppRegistration.Id" />
            <div class="form-group">
                <label asp-for="AppRegistration.Identifier" class="control-label"></label>
                <input asp-for="AppRegistration.Identifier" class="form-control" />
                <span asp-validation-for="AppRegistration.Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppRegistration.IpAddress" class="control-label"></label>
                <input asp-for="AppRegistration.IpAddress" class="form-control" />
                <span asp-validation-for="AppRegistration.IpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppRegistration.RegisteredDateTime" class="control-label"></label>
                <input asp-for="AppRegistration.RegisteredDateTime" class="form-control" />
                <span asp-validation-for="AppRegistration.RegisteredDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
