<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quoter.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Quoter.App.Properties.Settings>
            <setting name="NotificationIntervalSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutoCloseNotificationSeconds" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="IsPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWelcomeNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepNotificationOpenOnMouseOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ShowCollectionsBasedOnLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
        </Quoter.App.Properties.Settings>
    </applicationSettings>
</configuration>