<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quoter.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Quoter.App.Properties.Settings>
            <setting name="NotificationIntervalSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutoCloseNotificationSeconds" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="IsPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWelcomeNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepNotificationOpenOnMouseOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ShowCollectionsBasedOnLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotificationType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotificationOpenAnimation" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NotificationCloseAnimation" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="IsStartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsSetupFinished" serializeAs="String">
                <value>False</value>
            </setting>
        </Quoter.App.Properties.Settings>
    </userSettings>
</configuration>