@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<div class="container mt-lg-5">
	@if (Model.StatusCode == 404)
	{
		<div class="h-100 d-flex align-items-center justify-content-center">
			<h1 class="text-danger">404</h1>
		</div>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<h3 class="text-danger">The page you requested was not found</h3>
		</div>
	}
	else
	{
		<div class="h-100 d-flex align-items-center justify-content-center">
			<h1 class="text-danger">Error.</h1>
		</div>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<h3 class="text-danger">An error occurred while processing your request.</h3>
		</div>
	}
	<div class="h-100 d-flex align-items-center justify-content-center">
		<a href="/" class="btn btn-primary">Go to Home page</a>
	</div>

	<div class="h-100 d-flex align-items-center justify-content-center">
	</div>

</div>
